.filters {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
  }
  
  .filters input,
  .filters select {
    padding: 8px;
    font-size: 14px;
  }
  .main-button {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .main-button:hover {
    background-color: #005fa3;
  }
  
  
  .hotel-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .hotel-card img {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
  
  .hotel-info {
    padding: 20px;
    flex-grow: 1;
  }
  
  .hotel-info h2 {
    margin-bottom: 10px;
    color: #0066cc;
  }
  
  .hotel-info p {
    margin-bottom: 5px;
  }
  
  .hotel-info .select-hotel {
    margin-top: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .hotel-info .select-hotel:hover {
    background-color: #004f9a;
  }
  